<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin 2 - Register</title>

  <!-- Custom fonts for this template-->
  <link href="../../assets/vendors/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="../../assets/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">
  <div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">User Profile</h1>
              </div>
              <form class="user"  method="post" action="/user/useraccount/register" onSubmit = "return checkPassword(this)">
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="text" class="form-control form-control-user"value="{{.User.Name}}" id="exampleFirstName" placeholder="Name" name="name" required>
                  </div>
                  <div class="col-sm-6">
                    <input type="text" class="form-control form-control-user" value="{{.User.Surname}}" id="exampleLastName" placeholder="SurName" name="surname" required>
                  </div>
                </div>
                <div class="form-group ">
                    <label>Phone number</label>
                    <input type="number" class="form-control form-control-user"value="{{.User.PhoneNumber}}" id="exampleFirstName" placeholder="0617825208" name="cellphone" required>
                </div>
                <div class="form-group">
                  <input name="email" type="email" class="form-control form-control-user"value="{{.User.Email}}" id="exampleInputEmail" placeholder="Email Address" required>
                </div>

                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">register</button>
              </form>
              <hr>
              <div class="text-center">
                <a class="small" href="/user/login">Already have an account? Login!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="../../assets/vendors/jquery/jquery.min.js"></script>
  <script src="../../assets/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="../../assets/vendors/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="../../assets/js/sb-admin-2.min.js"></script>

</body>
<script>

  // Function to check Whether both passwords
  // is same or not.
  var exampleInputPassword1 = document.getElementById("exampleInputPassword1");
  var exampleInputPassword2 = document.getElementById("exampleRepeatPassword2");
  function checkPassword(form) {
    password1 = form.password1.value;
    password2 = form.password2.value;

    // If password not entered
    if (password1 == '') {
      exampleInputPassword1.style["background-color"] = "pink";
      //alert("Please enter Password");
      return false;
    }
    // If confirm password not entered
    else if (password2 == '') {
      exampleInputPassword2.style["background-color"] = "pink";
      //alert("Please enter confirm password");
      return false;
    }
    // If Not same return False.
    else if (password1 != password2) {
      exampleInputPassword1.style["background-color"] = "pink";
      exampleInputPassword2.style["background-color"] = "pink";
      //alert ("\nPassword did not match: Please try again...")
      return false;
    }

    // If same return True.
    else{
      exampleInputPassword1.style["background-color"] = "green";
      //alert("Password Match: Welcome to GeeksforGeeks!")
      return true;
    }
  }
</script>

</html>
